body{
    background-color: rgba(224, 202, 250, 0.88);
}
h1{
    text-align: center;
}
section{
    padding: 10px;
    text-align: center;
}
#first-answer{
    padding: 10px;
}
#second-answer{
    padding: 10px;
}
#third-answer{
    padding: 10px;
}